@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* @apply scrollbar scrollbar-thumb-rose-500  */
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply cursor-pointer rounded-3xl bg-primary px-[30px] py-[8px] text-white transition-all hover:opacity-70 disabled:opacity-50 disabled:cursor-not-allowed;
}

.slick-dots {
  @apply !flex w-full justify-start;
}

.slick-dots .slick-active div {
  @apply h-4 w-4 rounded-full bg-primary;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::-webkit-scrollbar{
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #FFEA20);
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #FFEA20);

} */